body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #eb8a8a;
}

h1,
h2 {
    text-align: center;
}
button#add-btn {
    width: 82px;
    height: 50px;
    font-size: 18px;
}

.input-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
select#category-select {
    height: 41px;
}

.input-section label {
    font-weight: bold;
    margin-right: 10px;
}

.input-section input[type="number"],
.input-section input[type="date"] {
    padding: 5px;
    margin: 10px;
    height: 32px;
}

.input-section button {
    padding: 5px 10px;
    background-color: rgb(39, 36, 209);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.expense-list {
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid rgb(9, 9, 15);
    padding: 8px;
    text-align: left;
}

th {
    background-color: aqua;
    color: black;
}

tfoot td {
    font-weight: bold;
}

.delete-btn {
    padding: 5px 10px;
    background-color: rgb(209, 36, 71);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
